

<section class="footer-container">
    <div class="author">
        <h4 class="made-by"><b>Made by: </b>Sleeper21 aka Pedro Cruz</h3>
        <p class="api-thanks">Thanks to <a href="https://www.freetogame.com/"> <b>Free to Game API</b></a> !</p>
        <p class="api-thanks">Capstone Project - Udemy - 2024</p>
    </div>

    <div class="socials">
        <a href="https://github.com/Sleeper21"><img style="width: 20px; height: 20px;" src="/images/github-icon.png" alt="github icon"></a>
        <a href="#"><img style="width: 20px; height: 20px;" src="/images/facebook-icon.png" alt="github icon"></a>
        <a href="#"><img style="width: 20px; height: 20px;" src="/images/twitter-icon.png" alt="github icon"></a>
        <a href="#"><img style="width: 20px; height: 20px;" src="/images/instagram-icon.png" alt="github icon"></a>

    </div>

</section>