<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free to Play Games</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Icons -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">

</head>

<body>
    <header class="header">
        <div class="nav-home">
            <a href="#"> <i class="fa fa-home w3-xxlarge"></i></a>
        </div>
        
        <div class="nav-options">
            <a href="#">All Games</a>

            <div class="dropdown">
                <button class="genres-dropdown-button">Genres <img width="10px" height="10px" src="images/down-arrow.png" alt="down arrow for more options"> </button>
                    <div class="genres-content">
                        <a href="#">MMORPG</a>
                        <a href="#">Shooter</a>
                        <a href="#">MOBA</a>
                        <a href="#">Anime</a>
                        <a href="#">battle Royale</a>
                        <a href="#">Strategy</a>
                        <a href="#">Fantasy</a>
                        <a href="#">Sci-Fi</a>
                        <a href="#">Card Games</a>
                        <a href="#">Racing</a>
                        <a href="#">Fighting</a>
                        <a href="#">Social</a>
                        <a href="#">Sports</a>
                    </div>
            </div>
            <a href="#"> Search <i class="fa fa-search w3-xlarge"></i></a>    
        </div>
    </header>

    <div class="content">
        <h1>Looking for a free to play Video game?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde odioomnis quaerat alias dolor ad! Numquam vel, beatae nam eius ad saepefugiat minus non deleniti. Ad consequatur id autem!
        </p>
        
        <button class="view-all-button">View all Games</button>
    </div>
</body>
</html>